@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


/*kleuren*/
/*

rood: #F14835 - rgb(241, 72, 53);

 Groen: rgb(129, 195, 148);
 Roze: rgb(194, 138, 128)
 donkerroze: rgb(112, 79, 74);

*/

.border{
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, figure, hr {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img {
    border: medium none;
    font-style: italic;
    max-width: 100%;
}
input, select, option, optgroup, textarea {
    font: inherit;
}
input, textarea, button, select, option {
    cursor: pointer;
}
.text-input:active, .text-input:focus, textarea:active, textarea:focus {
    cursor: text;
    outline: medium none;
}
* {
    box-sizing: border-box;
}
html {
    background-color: rgb(129, 195, 148);
    background-image: url("../img/pattern--red.png");
    background-repeat: repeat;
    background-size: 35px 59px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    overflow-y: scroll;
    text-align: center;
    width: 100%;
}
body {
    width: 100%;
}

h1{
    font-size: 75px;
}

h5{
    font-size: 25px;
}

h2, h3, h4, h6 {
    font-size: 16px;
}

a {
    color: white;
}

a:hover {
    color: #282828;
}
/*a:focus {*/
    /*outline: 2px solid #4fa1fd;*/
/*}*/

p, span{
    line-height: 1.5;
}

.line{
    margin: 0 auto;
    height: 1px;
    width: 0;
    /*background: #333;*/
    background: white;
    display: inline-block;
    transition: width 2s ease;
}

.line.loaded{
    width: 50%;
    transition: width 2s ease;
}

.eskobar_tekst_logo{
    height: 90px;
    margin-bottom: 5px;
}

.eskobar_tekst_logo_contact{
    height: 50px;
    margin-bottom: 15px;
}

/*.order-btn:hover{*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*left: 25%;*/
    /*bottom: 10px;*/
    /*width: 50%;*/

    /*margin: 0 auto;*/
    /*height: 1px;*/
    /*background: white;*/
    /*transition: width 2s ease;*/
/*}*/


.site__content {
    overflow: hidden;
    position: relative;
}
.store__screen {
    bottom: 0;
    left: 0;
    padding-bottom: 60px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(-100%, 0px);
}
.store__screen::before, .store__screen::after {
    content: "";
    display: table;
}
.store__screen::after {
    clear: both;
}
.red_screen {
    background-color: #f14835;
    /*background-image: url("/web/20240117073248im_/https://www.eskobar.be/assets/img/pattern--red.png");*/
    background-repeat: repeat;
    background-size: 35px 59px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
.screen__title {
    /*font-family: "bignoodletitling";*/
    padding-top: 20px;
}
@media (min-width: 48em) {
    .screen__title {
        font-size: 48px;
    }
}
.screen__content {
    padding-left: 5%;
    padding-right: 5%;
}

.home__screen {
    backface-visibility: hidden;
    background-color: rgb(129, 195, 148);
    background-image: url("../img/pattern--green.png");
    background-size: 35px 59px;
    bottom: -200px;
    left: 0;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    transform: translateZ(0px);
    transform-style: preserve-3d;
    z-index: 3000;
}
@media (min-width: 48em) {
    .home__screen {
        bottom: 0;
    }
}

.store__screen {
    background-color: rgb(241, 72, 53);
    background-image: url("../img/pattern--red.png");
    background-size: 35px 59px;
    background-repeat: repeat;
    padding-left: 56px;
    height: 100%;
}
@media (min-width: 64em) {
    .store__screen {
        padding-left: 71px;
    }
}
.edge--left, .edge--right {
    bottom: 0;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 1500;
}
.edge--left {
    background-color: #28a9e0;
    left: 0;
}
.edge--right {
    background-color: white;
    right: 0;
}
.burger {
    -moz-user-select: none;
    cursor: pointer;
    height: 100px;
    margin: 0 auto;
    position: relative;
    transform: translateZ(0px);
    width: 100px;
    z-index: 700;
}
@media (min-width: 48em) {
    .burger {
        height: 240px;
        width: 240px;
    }
}
.stateless {
    cursor: default;
}

.burger-group-title {
    margin-top: 1rem;
}

.burger-group-title h2 {
    margin-top: 1rem;
    border-bottom: 2px solid white;
    display: inline-block;
    text-transform: uppercase;
    /*  */
}

.burger-item {
    margin-top: .75rem;
}
@media (min-width: 48em) {
    .burger-item {
        margin-top: 1rem;
    }
}
/* .burger-item + .burger-item {
    margin-top: 60px;
}
@media (min-width: 48em) {
    .burger-item + .burger-item {
        margin-top: 90px;
    }
} */
.star::after {
    color: white;
    content: "★";
    display: block;
    font-size: 12px;
    line-height: 3;
    text-align: center;
}
@media (min-width: 48em) {
    .star::after {
        line-height: 4.2;
    }
}
.burger-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 4px;
}
.burger-item::after {
    font-size: 12px;
    display: block;
    text-align: center;
    content: "\2605";
    line-height: 2.2;
}


@media (min-width: 48em) {
    .burger-title {
        font-size: 32px;
    }
}
.burger-title.star::after {
    margin-top: 7px;
}
.burger-subtitle {
    color: #81cded;
}
.burger-subtitle, .burger-ingredients {
    /*font-family: "Akzidenz Medium";*/
    margin: 0 auto;
    max-width: 320px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
@media (min-width: 48em) {
    .burger-subtitle, .burger-ingredients {
        font-size: 18px;
        max-width: 280px;
        padding: 0;
    }
}
.burger-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.burger_background {
    background-color: #28a9e0;
    bottom: -500px;
    cursor: pointer;
    display: none;
    left: -500px;
    opacity: 0;
    position: fixed;
    right: -500px;
    top: -500px;
    z-index: 9000;
}

.building-block {
    margin: 10px auto 50px;
    width: 220px;
}
@media (min-width: 48em) {
    .building-block {
        margin-top: 30px;
        width: 500px;
    }
}
@media (min-width: 48em) {
    .building-block + .building-block {
        margin-top: 90px;
    }
}
.building-block + .building-block:last-child {
    margin-bottom: 0;
}
.building-block .star::after {
    line-height: 2.4;
}
.building-address {
    /*font-family: "Akzidenz Medium";*/
    padding-left: 10%;
    padding-right: 10%;
}
.building-address::after {
    content: "★";
    display: block;
    font-size: 12px;
    line-height: 3;
    text-align: center;
}
@media (min-width: 48em) {
    .building-address {
        font-size: 18px;
    }
}
@media (min-width: 80em) {
    .building-address {
        margin: 0 auto;
        max-width: 300px;
        padding: 0;
    }
}
.building-times {
    /*font-family: "Akzidenz Medium";*/
}
.building-times p u,
.building-times p {
    color: #fff;
}

.building-times p:not('text-white') {
    color: #333;
}
@media (min-width: 48em) {
    .building-times {
        font-size: 18px;
    }
}
.building-times::after {
    content: "★";
    display: block;
    font-size: 12px;
    line-height: 3;
    text-align: center;
}
.store__image-container, .store__image-container--cbd, .store__image-container--prahran {
    cursor: pointer;
    height: 190px;
    margin-left: 20px;
    position: relative;
    width: 200px;
}
@media (min-width: 48em) {
    .store__image-container, .store__image-container--cbd, .store__image-container--prahran {
        height: 360px;
        width: 380px;
    }
}
@media (min-width: 80em) {
    .store__image-container, .store__image-container--cbd, .store__image-container--prahran {
        margin: 0 auto;
        width: 340px;
    }
}

.icon__menu, .icon__menu--back {
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
@media (min-width: 64em) {
    .icon__menu, .icon__menu--back {
        padding-left: 110px;
        padding-right: 50px;
        padding-top: 65px;
    }
}
.icon__store, .icon__store--back {
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

span.contact{
    /*background: red;*/
}

@media (min-width: 64em) {
    .icon__store, .icon__store--back {
        padding-left: 40px;
        padding-right: 110px;
        padding-top: 65px;
    }
}
.icon__menu--back {
    transform: translate(-100%, 0px);
}
.icon__store--back {
    transform: translate(100%, 0px);
}
.back-btn--burger, .back-btn--store {
    color: white;
    display: block;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 60px;
    z-index: 9000;
}
.back-btn--burger:hover, .back-btn--store:hover {
    color: white;
}
.back-btn--burger {
    right: 0;
}
.back-btn--store {
    left: 0;
}
.btn-container {
    padding-top: 20px;
}
.btn-container::before, .btn-container::after {
    content: "";
    display: table;
}
.btn-container::after {
    clear: both;
}
#burger-btn {
    display: inline-block;
    left: 5px;
    padding: 5px;
    position: absolute;
    top: 5px;
    width: 45px;
}
@media (min-width: 64em) {
    #burger-btn {
        background-color: rgb(95, 161, 114);
        border-radius: 50%;
        height: 200px;
        margin-left: -100px;
        margin-top: -100px;
        padding-left: 110px;
        padding-right: 50px;
        padding-top: 65px;
        top: 105px;
        transform: translate(-100%, 0px);
        transition: transform 0.25s ease 0s;
        width: 200px;
    }
}
#store-btn {
    display: inline-block;
    height: 60px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 45px;
}
@media (min-width: 64em) {
    #store-btn {
        background-color: rgb(95, 161, 114);
        border-radius: 50%;
        height: 200px;
        margin-right: -100px;
        margin-top: -100px;
        padding-left: 50px;
        padding-right: 110px;
        padding-top: 65px;
        top: 105px;
        transform: translate(100%, 0px);
        transition: transform 0.25s ease 0s;
        width: 200px;
    }
}
.home-btn {
    color: white;
    /*font-family: "bignoodletitling";*/
    font-size: 16px;
    text-align: center;
}
.home-btn:hover {
    color: white;
}
.order-btn {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 220px;
}
.order-btn::before, .order-btn::after {
    content: "";
    display: table;
}
.order-btn::after {
    clear: both;
}
.order-btn__text {
    background: rgb(95, 161, 114) none repeat scroll 0 0;
    color: white;
    display: block;
    /*font-family: "bignoodletitling";*/
    font-size: 32px;
    height: 60px;
    line-height: 1.6;
    overflow: hidden;
    transition: color 0.25s ease;
    padding-top: 5px;
}

.order-btn_text span{
    /*margin-top: 10px;*/
}


/*.order-btn__text:hover{*/
    /*color: rgb(129, 195, 148);*/
    /*transition: color 0.25s ease;*/
/*}*/


.order-btn__text::before {
    content: "★";
    display: block;
    float: left;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 15px;
    transition: color 0.5s ease;
}
.order-btn__text::after {
    content: "★";
    display: block;
    float: right;
    font-size: 12px;
    margin-right: 8px;
    margin-top: 15px;
    transition: color 0.5s ease;
}

.order-btn__text:hover::after, .order-btn__text:hover::before{
    color: rgb(241, 72, 53);
    transition: color 0.5s ease;
}



.order-btn__before {
    border-bottom: 30px solid transparent;
    border-right: 16px solid rgb(95, 161, 114);
    border-top: 30px solid transparent;
    float: left;
    height: 0;
    width: 0;
}
.order-btn__after {
    border-bottom: 30px solid transparent;
    border-left: 16px solid rgb(95, 161, 114);
    border-top: 30px solid transparent;
    float: right;
    height: 0;
    width: 0;
}
.map-btn {
    display: block;
    margin: 10px auto 0;
    position: relative;
    width: 200px;
}
.map-btn::before, .map-btn::after {
    content: "";
    display: table;
}
.map-btn::after {
    clear: both;
}
.map-btn__text {
    background: #333 none repeat scroll 0 0;
    color: white;
    display: block;
    /*font-family: "bignoodletitling";*/
    font-size: 22px;
    height: 42px;
    line-height: 1.7;
    overflow: hidden;
    /*padding-top: 5px;*/
}
.map-btn__text::before {
    content: "★";
    display: block;
    float: left;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 10px;
}
.map-btn__text::after {
    content: "★";
    display: block;
    float: right;
    font-size: 12px;
    margin-right: 8px;
    margin-top: 10px;
}
.map-btn__before {
    border-bottom: 21px solid transparent;
    border-right: 10px solid #333;
    border-top: 21px solid transparent;
    float: left;
    height: 0;
    width: 0;
}
.map-btn__after {
    border-bottom: 21px solid transparent;
    border-left: 10px solid #333;
    border-top: 21px solid transparent;
    float: right;
    height: 0;
    width: 0;
}
.emblem-container {
    margin: 0 auto;
    max-width: 160px;
}


.emblem-container h5{
    margin-bottom: 25px;
    color: #333;
}

@media (min-width: 48em) {
    .emblem-container {
        max-width: 600px;
        padding-bottom: 40px;
        padding-top: 20px;
    }
}
@media (min-height: 80em) {
    .emblem-container {
        padding-bottom: 75px;
        padding-top: 65px;
    }
}
.tagline, .tagline--right {
    display: none;
}
@media (min-width: 48em) {
    .tagline, .tagline--right {
        color: white;
        display: block;
        float: left;
        /*font-family: "bignoodletitling";*/
        font-size: 48px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
        width: 180px;
    }
}
.tagline--right {
    float: right;
    padding-left: 15px;
    padding-right: 0;
}
.emblem {
    max-width: 240px;
    margin-top: 90px;
}
@media (min-width: 48em) {
    .emblem {
        overflow: hidden;
    }
}
/**/
.hidden_after, #js__media-check::after {
    height: 0;
    opacity: 0;
    position: fixed;
    visibility: hidden;
}
#js__media-check {
    transition: width 0.001s ease 0s;
    width: 100px;
}
@media (min-width: 24em) {
    #js__media-check {
        width: 150px;
    }
}
@media (min-width: 48em) {
    #js__media-check {
        width: 200px;
    }
}
@media (min-width: 64em) {
    #js__media-check {
        width: 300px;
    }
}
#js__media-check::after {
    content: "none";
}
@media (min-width: 24em) {
    #js__media-check::after {
        content: "mob";
    }
}
@media (min-width: 48em) {
    #js__media-check::after {
        content: "portrait";
    }
}
@media (min-width: 64em) {
    #js__media-check::after {
        content: "landscape";
    }
}
@media (min-width: 48em) {
    .block-on-desktop {
        display: block;
    }
}
.block-on-small-res {
    display: block;
}
.block-on-small-res .front-divider {
    display: none;
}
@media (min-width: 48em) {
    .block-on-small-res, .block-on-small-res .front-divider {
        display: inline;
    }
}
h2 {
    font-size: 42px;
}
.nowrap {
    white-space: nowrap;
}
.logo {
    margin: 0 auto;
    max-width: 260px;
    /*padding-top: 75px;*/
    text-align: center;
}
@media (min-width: 48em) {
    .logo {
        max-width: 562px;
        /*padding-top: 120px;*/
    }
}
@media (min-width: 64em) {
    .logo {
        /*padding-top: 60px;*/
    }
}
@media (min-height: 80em) {
    .logo {
        padding-top: 120px;
    }
}
.tel {
    /*font-family: "bignoodletitling";*/
    /*font-size: 25px;*/
    padding: 10px 5% 25px;
}
@media (min-width: 48em) {
    .tel {
        margin-top: 60px;
    }
    .icon__store{
        width: 100%;
        margin-right: 10px;
    }
}


/*@media (min-width: 32em) {*/
    /*.contact {*/
        /*color: blue;*/
        /*margin-left: -25px;*/
    /*}*/
/*}*/


@media (min-width: 64em) {
    .tel {
        margin-top: 0;
    }
}
.tel__link {
    color: white;
    display: inline-block;
    padding-top: 10px;
}
.tel__link:hover {
    color: white;
}
.tel__link__icon {
    background-image: url("/web/20240117073248im_/https://www.eskobar.be/assets/img/phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 15px;
    margin-right: 2px;
    width: 15px;
}
.home__social {
    background-color: rgb(95, 161, 114);
    padding: 40px 5%;
}
.home__links {
    background-color: rgba(180, 29, 12, 0.5);
    /*font-family: "bignoodletitling";*/
    font-size: 24px;
    padding: 40px 5%;
}
.home__links a {
    color: white;
    text-decoration: underline;
}
.home__links a:hover {
    color: white;
}
@media (min-width: 48em) {
    .home__links {
        font-size: 28px;
    }
}
.home__social__icons img {
    padding: 15px;
    width: 65px;
}
.dull {
    /*color: rgb(112, 79, 74);*/
    color: #333;
}
.social__icons__wrapper {
    margin-top: 10px;
}
.social__icons {
    background-image: url("/web/20240117073248im_/https://www.eskobar.be/assets/img/instagram.png");
    background-size: contain;
    display: inline-block;
    height: 56px;
    margin-left: 8px;
    margin-right: 8px;
    width: 56px;
}
.social__icons--twitter {
    background-image: url("/web/20240117073248im_/https://www.eskobar.be/assets/img/twitter.png");
    background-size: contain;
    display: inline-block;
    height: 56px;
    margin-left: 8px;
    margin-right: 8px;
    width: 56px;
}
.social__icons--facebook {
    background-image: url("/web/20240117073248im_/https://www.eskobar.be/assets/img/facebook.png");
    background-size: contain;
    display: inline-block;
    height: 56px;
    margin-left: 8px;
    margin-right: 8px;
    width: 56px;
}

.no-js .store__screen, .no-csstransforms .store__screen {
    position: static !important;
    transform: translate(0px, 0px) !important;
}
@media (min-width: 64em) {
    .no-js .store__screen, .no-csstransforms .store__screen {
        padding-left: 0 !important;
    }
}
.no-js .icon__menu, .no-js .icon__menu--back, .no-js .back-btn--burger, .no-js .back-btn--store, .no-js #burger-btn, .no-js #store-btn, .no-js .home-btn, .no-csstransforms .icon__menu, .no-csstransforms .icon__menu--back, .no-csstransforms .back-btn--burger, .no-csstransforms .back-btn--store, .no-csstransforms #burger-btn, .no-csstransforms #store-btn, .no-csstransforms .home-btn {
    display: none !important;
}
.no-js .burger, .no-js .store__image-container, .no-js .store__image-container--cbd, .no-js .store__image-container--prahran, .no-js .store__image-container--cbd, .no-js .store__image-container--prahran, .no-csstransforms .burger, .no-csstransforms .store__image-container, .no-csstransforms .store__image-container--cbd, .no-csstransforms .store__image-container--prahran, .no-csstransforms .store__image-container--cbd, .no-csstransforms .store__image-container--prahran {
    cursor: auto !important;
}
.no-csstransitions .store__image-container, .no-csstransitions .store__image-container--cbd, .no-csstransitions .store__image-container--prahran, .no-csstransitions .store__image-container--cbd, .no-csstransitions .store__image-container--prahran {
    cursor: auto !important;
}

.no-js .burger__screen,
.no-csstransforms .burger__screen {
  position: static !important;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important
}

@media (min-width: 64em) {

  .no-js .burger__screen,
  .no-csstransforms .burger__screen {
    padding-right: 0px !important
  }
}

.burger__screen,
.store__screen {
  zoom: 1;
  padding-bottom: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0)
}

.burger__screen {
    background-image: url('../img/pattern--blue.png');
    /* background-image: url('./web/assets/img/pattern--blue.png'); */
    background-repeat: repeat;
    background-size: 35px 59px;
    padding-right: 56px;
    background-color: #28A9E0;
}
/*
     FILE ARCHIVED ON 07:32:48 Jan 17, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:27:28 Feb 07, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.725
  exclusion.robots: 0.042
  exclusion.robots.policy: 0.027
  esindex: 0.015
  cdx.remote: 33.397
  LoadShardBlock: 375.632 (3)
  PetaboxLoader3.datanode: 196.019 (5)
  PetaboxLoader3.resolve: 439.165 (2)
  load_resource: 314.117
  loaddict: 46.686
*/