@charset "UTF-8";
.btn-fancy {
  --fancy-size: clamp(1.25rem, 2.5vw, 2rem);
  background: var(--dark) none repeat scroll 0 0;
  color: var(--light);
  font-size: var(--fancy-size);
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-inline: 1.75rem;
  margin-block: 1.75rem;
  justify-self: center;
  align-items: center;
}
.btn-fancy:hover {
  color: var(--light);
}
.btn-fancy::before, .btn-fancy::after {
  content: "";
  position: relative;
  height: 0;
  width: 0;
}
.btn-fancy::before {
  border-bottom: var(--fancy-size) solid transparent;
  border-right: var(--fancy-size) solid var(--dark);
  border-top: var(--fancy-size) solid transparent;
  left: calc(-1 * var(--fancy-size));
}
.btn-fancy::after {
  border-bottom: var(--fancy-size) solid transparent;
  border-left: var(--fancy-size) solid var(--dark);
  border-top: var(--fancy-size) solid transparent;
  right: calc(-1 * var(--fancy-size));
}

.btn-fancy-inner {
  position: relative;
  display: inline-block;
}
.btn-fancy-inner:hover::before, .btn-fancy-inner:hover::after {
  color: var(--red);
}
.btn-fancy-inner::before, .btn-fancy-inner::after {
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "★";
  font-size: 1.5rem;
}
.btn-fancy-inner::after {
  right: -1.5rem;
  margin-left: 0.5rem;
}
.btn-fancy-inner::before {
  left: -1.5rem;
  margin-right: 0.5rem;
}

.btn-fancy-green {
  background: var(--btn-bg-color) none repeat scroll 0 0;
}
.btn-fancy-green::before {
  border-right: var(--fancy-size) solid var(--btn-bg-color);
}
.btn-fancy-green::after {
  border-left: var(--fancy-size) solid var(--btn-bg-color);
}
.btn-fancy-green .btn-fancy-inner:hover::before, .btn-fancy-green .btn-fancy-inner:hover::after {
  color: var(--dark);
}

.home {
  background-color: var(--green);
  background-image: url("/assets/img/pattern--green.png");
}

.eskobar-logo-text {
  margin-block: 1rem;
  width: 20vw;
  min-width: 300px;
}
@media screen and (max-width: 440px) {
  .eskobar-logo-text {
    min-width: 100%;
  }
}
@media (min-width: 992px) {
  .eskobar-logo-text {
    width: 20vw;
  }
}

.eskobar-logo {
  min-width: 125px;
  width: 10vw;
}

.logo-baseline {
  font-weight: 400;
  padding-bottom: 2rem;
  color: var(--dark);
  margin-top: 0;
}

.info {
  background-color: var(--red);
  background-image: url("/assets/img/pattern--red.png");
  flex-direction: column;
}
.info .logo {
  height: 3.125rem;
  margin-bottom: 1rem;
}

.info-blocks-wrapper {
  margin-top: 0.5rem;
}
.info-blocks-wrapper .info-block:last-child p:last-of-type {
  margin-bottom: 0;
}
.info-blocks-wrapper::after {
  content: "★";
  display: block;
  font-size: 2rem;
  margin-block: 0.5rem;
  text-align: center;
}

.info-blocks-wrapper,
.info-block-notice {
  max-width: var(--max-width);
}
.info-blocks-wrapper::before,
.info-block-notice::before {
  content: "★";
  display: block;
  font-size: 2rem;
  margin-block: 0.5rem;
  text-align: center;
}

.info-block {
  padding-bottom: 0.5rem;
  padding-inline: 0.5rem;
}
.info-block p {
  margin-bottom: 0.75rem;
}
.info-block + .info-block:last-child {
  padding-bottom: 0;
}

.building-times {
  /*font-family: "Akzidenz Medium";*/
}

.menu {
  background-color: var(--blue);
  background-image: url("/assets/img/pattern--blue.png");
}

.burger-group {
  max-width: var(--max-width);
  margin-block: 2.5rem;
}
@media (min-width: 992px) {
  .burger-group {
    margin-block: 1.5rem;
  }
}

.burger-group-title {
  margin-block: 2rem;
  position: relative;
  display: inline-block;
  width: 100%;
}
@media (min-width: 992px) {
  .burger-group-title {
    margin-block: 4rem;
  }
}
.burger-group-title h2 {
  line-height: 1;
  display: inline-block;
  font-weight: bold;
  color: var(--light);
}
.burger-group-title h2::before, .burger-group-title h2::after {
  display: inline-block;
  content: "★   ★   ★";
  color: var(--red);
  position: absolute;
  font-size: 2rem;
  left: 0;
  width: 100%;
}
.burger-group-title h2::before {
  top: -2rem;
}
.burger-group-title h2::after {
  bottom: -2rem;
}

.burger-heading {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .burger-heading {
    flex-direction: row;
  }
}

.burger-extra {
  line-height: 1;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .burger-extra {
    margin-block: 0.25rem;
    display: inline-flex;
  }
}
.burger-extra::before, .burger-extra::after {
  font-size: 1rem;
  display: block;
  margin-inline: 0.5rem;
  content: "-";
}
@media (min-width: 992px) {
  .burger-extra::after {
    content: "";
  }
}

.burger-title {
  line-height: 1;
}

.burger-item:not(:last-of-type)::after {
  color: var(--red);
  content: "★";
  display: block;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  .burger-item:not(:last-of-type)::after {
    margin-block: 0.5rem;
  }
}

.burger-price {
  color: var(--dark);
}

.burger-subtitle {
  color: #81cded;
}

.burger-ingredients {
  color: var(--dark);
}

.burger-subtitle,
.burger-ingredients {
  /*font-family: "Akzidenz Medium";*/
  margin: 0 auto;
  max-width: 992px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .burger-subtitle, .burger-ingredients {
    padding: 0;
  }
}
.burger-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 992px) {
  .star::after {
    line-height: 4.2;
  }
}
.btn-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  height: 100%;
}

.btn-wrapper-left {
  left: 0;
}

.btn-wrapper-right {
  right: 0;
}

.btn {
  z-index: 1;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5rem 2rem 2rem 1.5rem;
  color: var(--light);
  border: none;
  cursor: pointer;
  height: 6.25rem;
  width: 3.625rem;
  background-color: var(--btn-bg-color);
  border-radius: 400px 0 0 400px;
}
@media (min-width: 768px) {
  .btn {
    padding: 2rem;
    height: 9.375rem;
    width: 5.4rem;
  }
}
@media (min-width: 992px) {
  .btn {
    height: 12.5rem;
    width: 7.1875rem;
  }
}

.btn-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-inner .btn-icon {
  height: 2rem;
  width: 2rem;
}
@media (min-width: 768px) {
  .btn-inner .btn-icon {
    height: 2.75rem;
    width: 2.75rem;
  }
}
@media (min-width: 992px) {
  .btn-inner .btn-icon {
    height: 3.125rem;
    width: 3.125rem;
  }
}
.btn-inner span {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .btn-inner span {
    font-size: 1rem;
  }
}

.btn-left {
  left: 0;
  border-radius: 0 400px 400px 0;
}
.btn-left .btn-inner {
  padding-right: 2rem;
}

.btn-right {
  right: 0;
  border-radius: 400px 0 0 400px;
  padding: 1.5rem 2rem 2rem 1rem;
}
@media (min-width: 768px) {
  .btn-right {
    padding: 2rem;
  }
}
.btn-right .btn-inner {
  padding-left: 1rem;
}

:root {
  --green: #81c394;
  --btn-bg-color: #5fa172;
  --red: #f14835;
  --blue: #28a9e0;
  --light: #fafafa;
  --dark: #333;
  --max-width: 60rem;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  transition: transform 0.5s;
  transform: translateX(-100%);
}

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  background-repeat: repeat;
  background-size: 35px 59px;
}

.section-inner {
  width: 100%;
  padding-inline: 4rem;
  padding-bottom: 2.5rem;
  padding-top: 3.75rem;
  color: var(--light);
  text-align: center;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  justify-items: anchor-center;
}
@media (min-width: 768px) {
  .section-inner {
    padding-inline: 5rem;
  }
}
@media (min-width: 992px) {
  .section-inner {
    padding-inline: 7.25rem;
  }
}

.bordered-block {
  padding: 2rem;
  border: 1px solid var(--light);
}

.margin-block-0 {
  margin-block: 0;
}

html {
  font-family: "Courier Prime", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 4.75rem;
}

h2 {
  font-size: clamp(2rem, 2.5vw, 2.625rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #282828;
}

h4,
p {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  /* Minimale grootte is 1rem, 
     schaal met 2.5vw, 
     maximale grootte is 2rem */
}
@media (min-width: 992px) {
  h4,
  p {
    line-height: 1.5;
  }
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-underline {
  text-decoration: underline;
}