<head>
    <meta charset="UTF-8">
    <title>Eskobar</title>
    <meta name="google-site-verification" content="Uj7-9othZ_Uie7mUzFuyOZRysVPLorkPggVB-51Vjs0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index, follow, noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Burgerbar in Geel waar in een gezellig interieur kwaliteits burgers uit alle windstreken worden geserveerd">
    <meta name="author" content="Eskobar">
    <meta property="og:image" content="/assets/img/social-share.png">
    <meta property="og:title" content="Eskobar.be">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Burgerbar in Geel waar in een gezellig interieur kwaliteits burgers uit alle windstreken worden geserveerd">
    <meta property="og:url" content="https://eskobar.be">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WBYJW3YBJF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WBYJW3YBJF');
    </script>
</head>