@use 'mixins' as mixin;
.home {
    background-color: var(--green);
    background-image: url("/assets/img/pattern--green.png");
}

.eskobar-logo-text {
    margin-block: 1rem;
    // height: 40px;
    width: 20vw;
    min-width: 300px;
    @media screen and (max-width: 440px){
        min-width: 100%;
    }
    @include mixin.media-lg {
        width: 20vw;
        // height: 125px;
    }
}
.eskobar-logo {
    min-width: 125px;
    width: 10vw;
    // @include mixin.media-lg {
    //     height: 125px;
    // }
}

.logo-baseline {
    font-weight: 400;
    padding-bottom: 2rem;
    color: var(--dark);
    margin-top: 0;
}