.home-inner {
    max-width: 60rem;
    padding-bottom: 2.5rem;
    padding-top: 1.25rem;
    color: var(--light);
    text-align: center;
}

.eskobar-logo-text {
    height: 125px;
    margin-block: 1rem;
}

.logo-baseline {
    font-weight: 400;
    padding-bottom: 2rem;
    color: var(--dark);
    margin-top: 0;
}