@use 'mixins' as mixin;

.menu {
    background-color: var(--blue);
    background-image: url("/assets/img/pattern--blue.png"); 
}

.burger-group {
    max-width: var(--max-width);
    margin-block: 2.5rem;
    @include mixin.media-lg {
        margin-block: 1.5rem;
    }
}

.burger-group-title {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    width: 100%;
    @include mixin.media-lg {
        margin-top: 2.5rem;
        margin-bottom: 4rem;
    }
    h2 {
        line-height: 1;
        display: inline-block;
        font-weight: bold;
        color: var(--light);
        &::before,
        &::after {
            display: inline-block;
            content: "★   ★   ★";
            color: var(--red);
            position: absolute;
            font-size: 2rem;
            left: 0;
            width: 100%;
        }
        &::before {
            top: -2rem;
        }
        &::after {
            bottom: -2rem;
        }
    }
}  

.burger-heading {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mixin.media-lg {
        flex-direction: row;
        // display: inline-block;
    }
}

.burger-extra {
    line-height: 1;
    display: flex;
    @include mixin.media-md {
        margin-block: .25rem;
        display: inline-flex;
    }

    &::before {
        font-size: 1rem;
        display: block;
        margin-inline: 0.5rem;
        content: "-";
    }
    &::after {
        font-size: 1rem;
        display: block;
        margin-inline: 0.5rem;
        @include mixin.media-md {
            content: "-";
        }
    }
}
.burger-title {
    line-height: 1;
}

.burger-item {
    // border: 1px solid red;
    // margin-block: 0.75rem;
    // @include mixin.media-lg {
    //     margin-block: .5rem;
    // }
    &:not(:last-of-type)::after {
        // margin-top: 0.75rem;
        color: var(--light);
        content: "★";
        display: block;
        font-size: 1.5rem;
        text-align: center;
        @include mixin.media-lg {
            margin-top: 0.5rem;
        }
    }
}

.burger-price {
    color: var(--dark);
}

.burger-subtitle {
    color: #81cded;
}

.burger-ingredients {
    color: var(--dark);
}

.burger-subtitle,
.burger-ingredients {
    /*font-family: "Akzidenz Medium";*/
    margin: 0 auto;
    max-width: 992px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 1rem;
}

@include mixin.media-lg {
    .burger-subtitle, .burger-ingredients {
        padding: 0;
    }
}
.burger-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}

@include mixin.media-lg {
    .star::after {
        line-height: 4.2;
    }
}