@use 'mixins' as mixin;

html {
    font-family: 'Courier Prime', sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 4.75rem;
}

h2 {
    font-size: clamp(2rem, 2.5vw, 2.625rem); 
}

h3 {
    font-size: clamp(1.25rem, 2.5vw, 1.75rem); 
}

a {
    color: white;
    text-decoration: none;
    &:hover {
        color: #282828;
    }
}

h4, 
p {
    font-size: clamp(1rem, 2.5vw, 1.25rem); 
    /* Minimale grootte is 1rem, 
       schaal met 2.5vw, 
       maximale grootte is 2rem */
    @include mixin.media-lg {
        line-height: 1.5;
    }
}

.text-light {
    color: var(--light)
}

.text-dark {
    color: var(--dark)
}

.text-underline {
    text-decoration: underline;
}