{% set contentBlocks = entry.contentMatrix.all() %}

<div class="logo">
    <img src="assets/img/logo.svg" />
</div>
<div class="emblem-container">
    <img src="assets/img/eskobar.svg" alt="eskobar logo" class="eskobar_tekst_logo" />
    <h5>{{ entry.title }}</h5>
    {% include 'blocks/contentMatrix.twig' with contentBlocks %}
</div>