
{% for block in contentBlocks %}
    {% switch block.type %}
        {% case "text" %}
            {{ block.text|nl2br }}
        {% case "link" %}
            {% set link = block.button %}
            {% if link.type == "email" %}
                <a class="btn-fancy btn-fancy-green" href="{{ link.value() }}">
                    <div class="btn-fancy-inner">
                        <span class="btn-fancy-text">{{ link.label }}</span>
                    </div>
                </a>
            {% endif %}
        {% endswitch %}
{% endfor %}