<footer id="footer">
    <div class="home__social">
        <div class="social__icons__wrapper">
            <a href="https://www.instagram.com/eskobargeel/" target="_blank"><span class="social__icons"></span></a>
            <a href="https://www.facebook.com/pg/eskobarburgers" target="_blank"><span class="social__icons--facebook"></span></a>
        </div>
    </div>
</footer>