<div class="btn-container">

    <div class="burger-btn">
        <a href="#burgers">&nbsp;</a>
    </div>

    <a id="burger-btn" class="home-btn" href="#burgers" data-direction="left">
        <div class="icon__menu">
            <img src="assets/img/menu.png" alt="hamburger menu icon" />
            <span>Menu</span>
        </div>
        <div class="icon__menu--back">
            <img src="assets/img/back--right.png" alt="back icon" />
            <span>Back</span>
        </div>
    </a>
    <a id="store-btn" class="home-btn showLine" href="#stores" data-direction="right">
        <div class="icon__store">
            <img src="assets/img/info-icon.png" alt="info icon"/>
            <span class="contact">Info</span>
        </div>
        <div class="icon__store--back">
            <img src="assets/img/back--left.png" alt="back icon"/>
            <span>Back</span>
        </div>
    </a>
</div>