
{% set menuSection = menuSection ?? craft.entries.section('menu').one() ?? null %}
{% set infoSection = infoSection ?? craft.entries.section('info').one() ?? null %}

{% if (menuSection and menuSection.status == 'live') and (infoSection and infoSection.status == 'live') %}
    {% set onlyHome = 'container' %}
{% else %}
    {% set onlyHome = menuSection ~ 'no-container' %}
{% endif %}
<!DOCTYPE html>
<html class="no-js" lang="en">
{% include 'base/head.twig' %}
<body>
    <div class="{{ onlyHome }}" id="container">        
        {% if menuSection %}
            <div class="section menu">
                {% include 'content/menu.twig' %}
            </div>
        {% endif %}
            <div class="section home">
                {% include 'content/home.twig' %}
                {# {% include 'blocks/footer.twig' %} #}
            </div>
            {% if infoSection %}
                {% include 'content/info.twig' %}
            {% endif %}
    </div>
    {% include 'scripts/scripts.twig' %}
    </body>
</html>